{%  load static %}
{% block content %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/other.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>  
  <center>
    <div class="profile"> 
       <div class="card">
            
           <div class="image">
            <img src="{{ user.image.url }}" alt="face">
           </div>
           <div class="content">
            <h2>{{user.fname}} {{user.lname}}</h2>
            </div>
        
            <div class="main">
            <p><i class="fa fa-envelope ">
            </i> {{user.email}}</p>
            <p><i class="fa fa-phone">
            </i> {{user.education}}</p>
            <p><i class="fa fa-map-marker" aria-hidden="true">
            </i> {{user.Native_language}}</p>
            {% if user.cv and user.show_cv%}
               <a href="{{ user.cv.url }}" target="_blank" style="color: black; font-weight: bold;">{{ user.fname }}'s_cv</a>
            {% endif %}
            </div>
           <br/>
           
           <div class="info" style="margin-top: 0px;
           padding-top: 0px;
           padding :10px;
           color: black;
           font-size: 1rem;
           border-radius: 5px;
           border: 1px solid black;
           height: 450px;
           text-align: left;
           display: block">
            <h4>Education</h4>
              {{user.education}}
            <hr>
            <h4>Experience</h4>
              {{user.experiance}}
            <hr>
            <h4>Language</h4>
              {{user.Second_language}}
            <hr>
            <h4>Technical Skills</h4>
              {{user.brief}}
              <hr>
              <h4>Soft Skills</h4>
              {{profile.softskill}}
          </div>
        </div>
    </div>
</center>
</body>

</html>
{% endblock  %}