{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobLance</title>
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/alaastyle2.css' %}">
</head>
<body>
    <div class="container">

    <div class="header">
        <h1>Start Now!</h1>
    </div>

    <div class="chooses">
        
        <div class="choose">
            <div class="image">
                <img src="{% static 'img/Hiring.png' %}" alt="Hiring" link="">
            </div>
            <div class="name">
                <h4>Providing a job?</h4>
            </div>
            <a href="{% url 'jobs:add_job' %}">
                <div class="btn">
                     <button> Post Job </button>
                 </div>
             </a>
            
        </div>

        <div class="choose">
            <div class="image">
                <img src="{% static 'img/LookingforAJob.png' %}" alt="Looking" >
            </div>
            <div class="name">
                <h4>Looking for a job?</h4>
            </div>
            <div class="btn">
                <a href="{% url 'jobs:job_list' %}"><button> Find Job </button></a>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/all.min.js' %}"></script>
<script src="{% static 'js/main.js"' %}'></script>
</body>
</html>